<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Welcome to {{ title | lowercase}}!</h1>
<!--  <h1>Welcome to {{ title | uppercase}}!</h1>
  <h2>{{name | slice:3}}</h2>
  <h2>{{name | slice:3:5}}</h2>-->
<!--  <h2> {{message}} </h2>-->

<!--  <div class="app-test"></div>-->
  <!--  <app-test></app-test>-->
  <!--<app-login (childEvent)="message = $event" [parentData]="name"></app-login>-->
  <!--<app-employee-list></app-employee-list>-->
<!--  <app-employee-details></app-employee-details>-->
  <nav>
    <a routerLink="/departments" routerLinkActive="active">Departments</a>
    <br>
    <a routerLink="/employees">Employees</a>
  </nav>
</div>

<router-outlet></router-outlet>
